@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #6bd1a0,
    #00cdc1,
    #00c5e2,
    #00b9f9,
    #52a7ff,
    #41abff,
    #2bafff,
    #00b3ff,
    #00cdff,
    #00e2ea,
    #00f2b1,
    #5ffb66
  );
  color: white;
  padding: 20px 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}
button {
  border: 0;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
}

button:focus,
input:focus {
  outline: 0;
}
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 25px;
  border-radius: 5px;
}
.gif {
  display: block;
  overflow: hidden;
  position: relative;
}
.gif img {
  height: 250px;
}
.hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-template-rows: minmax(200px, auto);
  gap: 20px;
}
img {
  width: 100%;
  object-fit: contain;
}

.info {
  height: 0;
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  transition: all 1s ease-in;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "av un"
    "tr tr";
}

.avatar {
  grid-area: av;
}

.us_name {
  grid-area: un;
  text-transform: capitalize;
  font-size: 0.8em;
  justify-self: center;
  align-self: center;
}

.tr_time {
  grid-area: tr;
  font-size: 0.8em;
  padding: 5px 10px;
}

.info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar {
  font-size: 2em;
}
.gif:hover .info {
  height: auto;
}
.loading {
  padding: 200px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 4px;
}
.main {
  padding: 50px 20px;
  text-align: center;
}
.single_gif {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, auto));
  grid-template-areas:
    "sg det ."
    "sg . . ";
  /* gap: 10px; */
}

.single_gif > img {
  width: 400px;
  height: 400px;
  grid-area: sg;
}

.details {
  grid-area: det;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, auto));
  grid-template-areas:
    "di . n n "
    "t . pr pr";
  row-gap: 30px;
}

.details img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  grid-area: di;
}
.details span {
  grid-area: n;
  justify-self: center;
  align-self: center;
  font-size: 1.3em;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.details h3 {
  grid-area: t;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-right: 10px;
}

.details p {
  grid-area: pr;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home-btn {
  margin-top: 50px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: cyan;
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
}
.search_form {
  padding: 20px 0px 25px;
}

.search_form input,
button {
  font-size: 1.2em;
  padding: 10px 20px;
  color: #333;
}

@media (max-width: 485px) {
  .main {
    padding: 0px 0px;
  }

  .search_form input,
  button {
    font-size: 1.1em;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 10px;
  }
  .single_gif {
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, auto));
    grid-template-areas:
      "sg sg"
      "det det";
    row-gap: 5px;
  }
  .details {
    grid-area: det;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, auto));
    grid-template-areas:
      "di n"
      "t pr"
      ". pr";
    grid-row-gap: 30px;
    row-gap: 10px;
    overflow: hidden;
  }
  .details span {
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  .details p {
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  .details h3 {
    font-size: 0.9em;
    margin-right: 5px;
  }
  .home-btn {
    margin-top: 50px;
    font-size: 0.9em;
    padding: 10px 20px;
    border-radius: 00px;
    width: 100%;
  }
  .loading {
    padding: 100px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 2px;
  }
  body {
    padding: 10px;
  }
  .single_gif > img {
    width: 100%;
    height: 350px;
    grid-area: sg;
  }
}
